<form method='post' action='/genres/create_genre'>
  <label for='name'>New Genre Name: </label>
  <input type='text' name='name' id='name'>
  <input type='submit' value='Create Genre'>
</form>


add checkboxes for all @user.movies to associate movies on creation.
