<h2>Create Genre</h2>

<form method='post' action='/genres/create_genre'>
  <label for='genre_name'>New Genre Name: </label>
  <input type='text' name='genre[name]' id='genre_name'>

<br></br>

<% @user_movies.each do |movie| %>

  <label for='movie_id'><%=movie.name%></label>
  <input type='checkbox' name="genre[movie_ids][]" value="<%=movie.id%>" id='movie_id'>

<% end %>

<br></br>

  <input type='submit' value='Create Genre'>

</form>
