<form method='post' action='/genres/create_genre'>
  <label for='genre_name'>New Genre Name: </label>
  <input type='text' name='genre[name]' id='genre_name'>

<% Movie.each.do |movie| %>

  <label for='movie_id'><%=movie.name%></label>
  <input type='checkbox' name='genre[movies_ids][]' value='<%=movie.id%>' id='movie_id'>

<% end %>

  <input type='submit' value='Create Genre'>
</form>


add checkboxes for all @user.movies to associate movies on creation.
