show welcome to genres and list all genres associated with user if logged in

<ul>
<% Genre.all.each do |genre| %>
<li>
  <a href="/genres/<%=genre.slug%>"><%=genre.name%></a>
</li>
<% end %>
</ul>

<br></br>

<a href='/genres/create_genre'>Create New Genre</a>
