
<% if @user_genres.length > 0 %>

  <ul>
  <% @user_genres.each do |genre| %>

  <li>
    <a href="/genres/<%=genre.slug%>"><%=genre.name%></a>
  </li>

  <% end %>
  </ul>

<% else %>

  <p> You have made no Genres. Create a Genre or Movie below </p>

<% end %>


<a href='/genres/create_genre'>Create New Genre</a>
