Genre show form

<a href='/genres/<%=@genre.slug%>/edit_genre'>Edit Genre</a>
<p>
  for the genre show all movies associated with it
</p>

<ul>
<% @user_movies.each do |movie| %>

  <% if !movie.nil? %>
  <li>
    <a href='/movies/<%=movie.slug%>'><%=movie.name%></a>
  </li>

  <% end %>

  <% end %>
</ul>
