<h2><%=@genre.name%> Genre</h2>

<a href='/genres/<%=@genre.slug%>/edit_genre'>Edit Genre</a>

<ul>
<% @user_movies.each do |movie| %>

  <% if !movie.nil? %>
  <li>
    <a href='/movies/<%=movie.slug%>'><%=movie.name%></a>
  </li>

  <% end %>
  <% end %>
</ul>

</form>
