<p>Please Login</p>

<form method='post' action='/owners/login'>

<label for='owner_name'>Name</login>
<input type='text' name='owner[name]' id='owner_name'>
<label for='password'>Password</login>
<input type='text' name='owner[password]' id='password'>

<input type='submit' value='Login'>
</form>
