<h2>Create Movie</h2>

<form method='post' action='/movies/create_movie'>
  <label for='movie_name'>New Movie Name: </label>
  <input type='text' name='movie[name]' id='movie_name'>

<br></br>

<% @user_genres.each do |genre| %>

  <label for='genre_id'><%=genre.name%></label>
  <input type='checkbox' name="movie[genre_ids][]" value="<%=genre.id%>" id='genre_id'>

<% end %>

<br></br>

<label for='new_genre'>New Genre: </label>
<input type='text' name='genre[name]' id='new_genre'>

<br></br>

  <input type='submit' value='Create Movie'>

</form>
