show movie

<%=@movie.name%>

<a href='/movies/<%=@movie.slug%>/edit_movie'>Edit Movie</a>

<ul>
<% @movie.genres.each do |genre| %>
<li>
  <a href='/genres/<%=genre.slug%>'><%=genre.name%></a>
</li>
<% end %>
</ul>
