<h2><%=@movie.name%></h2>

<a href='/movies'>All of your movies</a>

<a href='/movies/<%=@movie.slug%>/edit_movie'>Edit Movie</a>


<h4>Genres include</h4>
<ul>
<% @movie.genres.each do |genre| %>
<li>
  <a href='/genres/<%=genre.slug%>'><%=genre.name%></a>
</li>
<% end %>
</ul>
