<p>Please Login</p>

<form method='post' action='/users/login'>

<label for='name'>Name</login>
<input type='text' name='name' id='name'>
<label for='password'>Password</login>
<input type='text' name='password' id='password'>

<input type='submit' value='Login'>
</form>

<br></br>

<a href='/'>Go back</a>
