<p>Please Login</p>

<form method='post' action='/users/login'>

<label for='username'>Name</login>
<input type='text' name='username' id='username'>
<label for='password'>Password</login>
<input type='text' name='password' id='password'>

<input type='submit' value='Login'>
</form>
