<h2>Hello <%=@user.name%></h2>

<p><a href='/users/<%=@user.slug%>/edit'>Edit Profile</a></p>

<p>Movie List</p>

<%if @user.movies.length > 0 %>

  <ul>
  <%@user.movies.each do |movie|%>
  <li>
    <a href="/movies/<%=movie.name%>"><%=movie.name%></a>
  </li>
  <%end%>
  </ul>

<% else %>

  <p>You have no movies yet! <a href='/movies/create_movie'>Create a movie.</a></p>

<% end %>

<p>Sort by <a href='/genres'>Genres</a></p>

<p><a href='/users/logout'>Logout</a></p>
