<body>
  <h1>My Movie Library</h1>

  <% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %>

  <nav>
    <% if logged_in? %>
    <ul>
      <a href='/users/<%=get_user_by_session.slug%>'>Home</a>
      <a href='/users/<%=get_user_by_session.slug%>/logout'>Logout</a>
      <a href='/movies'>Movies</a>
      <a href='/genres'>Genres</a>
    </ul>
    <% end %>
  </nav>

  <%=yield%>

</body>
